*{
    box-sizing: content-box;
}
li{
    list-style: none;
    color:white;
    text-transform: uppercase;
}
body{
    height: 100vh;
    width: 100vw;
    background: white;
    color: white;
    text-align: center;
    overflow-x: hidden;
}

.carousel-item > img{
    width: 100%;
    height: auto;
}
.carousel-item{
    margin:0;
    padding: 0;
    position: relative;
    width: 100vw;
    height: 40vh;
    overflow: hidden;
}
[data-img]{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}
/* style icon */
.inner-addon .fa {
  position: absolute;
  padding: 5px;
  pointer-events: none;
}
#search{
    width: 20%;
    grid-column: 3;
    width: 80%;
    justify-self: center;
    top: 50%;
}
.form-control{
    padding-left: 10px;
}
/* Bootstrap is making header be display block so I will increase specificity*/

html > body > header{
    position: relative;
   background-color: #111213;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: 1fr 1fr;
   height: 15vh;
}
.logo{
    display: block;
    width: 50vw;
    height: 15vh;
    bottom: 0;
    left: 0;
    height: auto;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/Logo.jpg");
}
.logoHead{
    left:0;
    grid-row: 1 / 2;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 2rem;

}
.logoHead > h2{
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

figcaption{
    grid-row: 2;
    display: flex;
    justify-content: space-around;
}
#search{
    grid-row: 1;
    grid-column: 4;
}
nav{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 2;
}
.navul{
    height: 100%;
    bottom: 0;
    justify-content: space-around;
display: flex;
flex-direction: row;
}
.navul > li{
    align-self: flex-end;
}

.belowhead{
    width: 100vw;
    height: auto;
    background-color: black;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.tagline{
    color: white;
    padding: 1vw;
}
.SoMeIcon{
    width: 100%;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.SoMeIcon > img{
width: 5vw;
}
.ASright{
    float: right;
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    padding-top: 2vw;
    justify-content: space-evenly;
    width: 30vw;
    height: auto;
    background: rgb(218,218,218);
    background: linear-gradient(180deg, rgba(218,218,218,1) 0%, rgba(0,0,0,0) 100%);
}
.ascont{
    text-align: left;
}
.asHead{
    font-size: 2rem;
}

.articles{
    float: left;
    display: flex;
    flex-direction: column;
    width: 70vw;
    padding: 5vw;
    padding-top: 2vw;
    padding-right: 10vw;
    background-color: white;
    height: auto;}

.frontPageArticle{
    margin-bottom: 2rem;
    position: relative;
    display: grid;
    width: 60vw;
    grid-template-columns: 22vw 1fr 1fr;
    grid-row: 1fr 1fr 1fr 1fr 1fr;
}
.puplishdate{
    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: 4;
}
.articleheadline{
    grid-row: 3;
    grid-column-start: 2;
    grid-column-end: 4;
}

.frontPageArticle > button{
    grid-row: 5;
    grid-column-start: 2;
    
}
.imgcontainer{
    position: absolute;
    grid-column: 1;
    grid-row: span 5;
    width: 20vw;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.artiletitle{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 1;
}
.paginator{
    display: flex;
    flex-direction: row;
}
.sponsers{
    white-space: nowrap;
}
.sponsers{
    width: 100vw;
    height: auto;
    padding: 5vw;
    display: grid;
}
.sponstcontainer{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-row: auto;
}
.sponsimg{
height: 10vw;
width: 10vw;
margin: 2vw;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
background-image: url("../img/spons/0.png");
}

.footer{
    padding: 2rem;
    display: grid;
    grid-template-columns: 32vw 36vw 28vw;
width: 100vw;
    height: fit-content;
    background-color: black;
    color: gray;
}
.abouthead, .contact, .instahead{
    font-size: 1.5rem;
    color: white;
}
.footertag{
    font-size: 1.1rem;
    color: lightgray;
}
.instafeed > .sponsimg{
    padding: 0;
    margin: 0;
    margin: 1vw;
    width: 10vw;
    height: 10vw;
    background-size: cover;
}
.instafeed{
    width: 30vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top:0;
}
.coninfo{
    padding-left: 1vw;
}
@media only screen and (max-width: 800px) {
    .carousel-item > img{
        height: 100%;
        /* -Battle of specificity with bootstrap- */
        width: auto!important;
        position: absolute;
    }}
@media only screen and (max-width: 600px) {
    body{
        padding-top: 19.9vh;
    }
    html > body > .header{
    position: fixed;
    top: 0;
    z-index: 99999;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    flex-direction: column;
    height: 20vh;
}
.logo{
    width: 100vw;
    grid-row: 1;
}
nav{
    width: 100vw;
    grid-row: 2;
    grid-column: unset;
    margin: 0;
    padding:0;
}
nav > ul{
    margin: 0;
    margin-top: 1rem;
    padding:0;
    font-size: 0.8rem;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}
nav > ul > li{
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}
#search{
    grid-column: unset;
    grid-row: 3;
}
#search > input{
    height: 1.5rem;
    font-size: 1rem;
}
.carousel-item{
    position: relative;
    overflow: hidden;
}

.belowhead{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: unset;
}
.tagline{
    padding-top: 1rem;
    text-align: center;
    font-size: 1rem;
    grid-column: unset;
    grid-row: 1;
    padding-bottom: 0;
}
.SoMeIcon > img {
    width: 10vw;
}
.ASright{
    width: 100vw;
    float: unset;
    left: 0;
    right: unset;
}
.articles{
    width: 100vw;
}
.articles{
    margin: 0;
    padding: 1rem;
}
.frontPageArticle{
    display: grid;
    width: 95vw;
    grid-template-rows: 20vh auto auto auto;
    grid-template-columns: unset;
}
.frontPageArticle > .imgcontainer{
    grid-row: 1;
    grid-column: unset;
    width: 100%;
    height: 20vh;
}
.frontPageArticle > .artiletitle{
    grid-row: 2;
    grid-column: unset;
    margin: 0;
    padding: 0;
}
.frontPageArticle > .puplishdate{
    grid-row: 3;
    font-size: 0.5rem;
    grid-column: unset;
}
.frontPageArticle > .articleheadline{ 
    grid-row: 4;
       grid-column: unset;
    margin-bottom: 2rem;}
.frontPageArticle > button{
grid-column: unset;
}
.footer{
    display: flex;
    flex-direction: column;
}
.instafeed{
    width: 100%;
    margin-bottom: 2rem;
}
.instafeed > .sponsimg{
    width:25vw;
    height: 25vw;
}
.sponsers > .sonshead{
    white-space: pre-wrap;
    font-size: 1.6rem;
}
.ASright{
padding: 2rem;    
}
.sponstcontainer{
    grid-template-columns: repeat(3, 1fr);
}
.sponstcontainer> .sponsimg{
    width: 25vw;
    height: 25vw;
}
/*- End media query-*/
}
.more{
    display: none;
}
